.botãocontainer {
    text-align: center;
    margin-top: 50px; /* Ajuste a margem conforme necessário */
}

.botãocontainer a {
    display: inline-block;
    background-color: #2ecc71; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    font-size: 50px; /* Tamanho da fonte */
    padding: 20px 40px; /* Espaçamento interno */
    border-radius: 10px; /* Borda arredondada */
    text-decoration: none; /* Remover sublinhado do link */
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    font-family: fantasy;
}

.botãocontainer a:hover {
    background-color: #27ae60; /* Altera a cor de fundo ao passar o mouse */
}

body {
    background-color: black;
}

h1 {
    color: aliceblue;
    font-family: sans-serif;
    text-align: center;
    font-size: 50px;
}
@media only screen and (max-width: 768px) {
    .botãocontainer a {
        font-size: 20px; /* Reduzir o tamanho da fonte em telas menores */
        padding: 15px 30px; /* Reduzir o espaçamento interno em telas menores */
    }
}